[Desktop Entry]
Name=Gtktranslate
Comment=Use Libretranslate through a GTK interface.
GenericName=Translator
Exec=/usr/bin/gtktranslate
Icon=gtktranslate
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Network;Office;Education;
