[Desktop Entry]
Name=Translate
Comment=Use Google Translate through a GTK interface.
GenericName=Translator
Exec=/usr/bin/gtktranslate
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/gtktranslate.svg
Categories=Network;Office;Education;
