[Desktop Entry]
Name=Libretranslate
Comment=Use Libretranslate through a GTK interface.
GenericName=Translator
Exec=/usr/bin/gtktranslate
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=gtktranslate
Categories=Network;Office;Education;
